/* 基本設定 */
html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  margin: 0.5rem;
  padding: 0.5rem; /* 余白を減少 */
  background-color: #f4f4f4;
  position: relative;
}

/* 名前、誕生日、所在のセクション */
.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.personal-info h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  text-align: center;
}

.sub-title {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

/* 名前と画像を隣に並べるためのスタイル */
.info-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* プロフィール画像 */
.profile-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

/* コンテナ */
.container {
  width: 90%; /* 幅を広げる */
  max-width: 800px;
  margin: auto;
  padding: 0.5rem; /* 内側の余白を減少 */
}

/* 段落のスタイル */
.p-container {
  display: flex;
  justify-content: center;
}

.p-container p {
  margin: 1rem;
}

/* h2のスタイル */
h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 1em 0;
}

/* 年度のタイトル */
.year-info,
.year-related-content {
  font-size: 1.1rem;
  color: #333;
  margin-left: 1rem;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

/* 自己紹介コンテンツ */
.self-content {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5em 0;
}

/* 箇条書き対応 */
.self-content ul {
  padding-left: 1.5rem;
  margin: 0.3em 0;
}

.self-content li {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 0.2em;
}

/* スマホ向けの調整 */
@media screen and (max-width: 768px) {
  body {
    padding: 0.5rem; /* スマホの余白をさらに減らす */
  }

  .container {
    width: 95%; /* 画面幅をほぼフル活用 */
    padding: 0.5rem; /* 余白を減らしてコンテンツを広げる */
  }
}
