/* 名前、誕生日、所在のセクション */
.personal-info {
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  justify-content: center;
  align-items: center; /* 要素を中央に揃える */
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.personal-info h1 {
  font-size: 2rem;
  margin-bottom: 5px; /* 名前とサブタイトルの間に少しスペース */
  text-align: center; /* 名前を中央に配置 */
}

.sub-title {
  font-size: 1.2rem; /* 小さめのフォントサイズを設定 */
  color: #555; /* 薄めのグレーでサブタイトルを表示 */
  margin-bottom: 20px; /* サブタイトルと次の要素の間に余白を追加 */
  text-align: center; /* サブタイトルも中央揃え */
}

.p-container {
  display: flex; /* 横並びにする */
  justify-content: center; /* 中央に配置 */
}

.p-container p {
  margin: 0.1rem; /* 各pタグの間にスペースを追加 */
}

/* ベースのスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 1rem;
  padding: 2rem;
  background-color: #f4f4f4;
  position: relative;
}

.selfie-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.container {
  width: 80%; /* 必要に応じて調整 */
  max-width: 800px;
  margin: auto; /* 左右を自動で均等にする */
  padding: 2rem; /* 内側の余白 */
}
.self-content p {
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
h2 {
  font-size: 1.5rem;
  color: #333;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;}


a:hover {
  background-color: #555;
}

/* 年度のタイトル */
.year-info {
  font-size: 1.2rem;
  color: #333;
  margin-left: 1.0rem; /* タイトルとリストの間隔を設定 */
}

.self-content {
  font-size: 1.2rem;
  color: #333;
  margin-left: 0.5rem; /* タイトルとリストの間隔を設定 */
}
